<h1>Cocktails</h1>

<h2>- List</h2>
<ul>
<% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name.titleize, cocktail_path(cocktail) %></li>
<% end %>
</ul>

<%= link_to "Add Cocktail", new_cocktail_path %>
